.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  flex-direction: column;
}

.flex-box img {
  max-width: 9.375rem;
}

@media (min-width: 700px) {
  .flex-box {
    flex-direction: row;
  }
}
