<header>
  <div class="container">
    <div class="flex-box">
      <a>
        <img
          src="The-Developers.png"
          alt="The Developers's Logo"
          routerLink=""
        />
      </a>
      <div class="buttons">
        <div class="button">
          <a routerLink="/contact" class="btn outline sm">Contact us</a>
        </div>
        <div *ngIf="currentUser" class="button">
          <button class="btn outline md" (click)="handleLogout()">
            Logout
          </button>
        </div>
        <div *ngIf="!currentUser" class="button">
          <a routerLink="/enter" class="btn outline sm">Login</a>
        </div>
      </div>
    </div>
  </div>
</header>
