<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input
    id="LoginFormEmail"
    type="email"
    placeholder="Enter your email"
    required
    formControlName="email"
  />
  <div
    *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
  >
    Email is required
  </div>
  <div
    *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched"
  >
    Invalid email format
  </div>

  <input
    id="LoginFormPassword"
    type="password"
    placeholder="Enter your password"
    required
    formControlName="password"
  />
  <div
    *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
  >
    Password is required
  </div>

  <button class="btn outline sm" type="submit" [disabled]="loginForm.invalid">
    Login
  </button>
</form>
