form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 13px;
}

form input {
  border: 1px solid #ccc;
  border-radius: 255px;
  padding: 10px;
}

form button {
  font-weight: 600;
}
