.dev-card {
  width: 100%;
  max-width: 262px;
}

.dev-card h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.dev-card h4 {
  margin-bottom: 10px;
}
.absolute-container {
  position: relative;
}

.see-more-button {
  position: absolute;
  top: 5px;
  left: 30%;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  opacity: 0;
}

.dev-card:hover .see-more-button {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
